h1 {
  color: #2A5683;
  margin-top: 30px;
}

.paper {
  margin-top: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formulario {
  width: 100%;
  margin-top: 8px;
}

button {
  margin: 50px 0px 8px;
}